/* @media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
      display: block;
    }
  } */


.navbar nav {
  position: relative;
}

.navbar #navbarMenu {
  position: absolute;
  width: 50%;
  right: 0px;
}
